<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>All:chive</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(ALLCHIVE_NATIVE_APP_KEY_WITH_KAKAO)</string>
				<string>AllChive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>KAKAO_APP_KEY</key>
	<string>$(ALLCHIVE_NATIVE_APP_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>카메라 권한을 허용하시겠습니까?
	이 권한은 사용자가 카메라로 찍은 사진을 업로드하기 위해 쓰일것입니다.
	사용자는 업로드한 사진으로 프로필 사진을 바꾸거나, 이미지 컨텐츠를 아카이빙에 추가할 수 있습니다.
	이 앱은 권한을 해당 목적 외에는 사용하지 않습니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>앨범 접근 권한을 허용하시겠습니까?
	이 권한은 사용자가 앨범에서 선택한 사진을 업로드하기 위해 쓰일것입니다.
	사용자는 업로드한 사진으로 프로필 사진을 바꾸거나, 이미지 컨텐츠를 아카이빙에 추가할 수 있습니다.
	이 앱은 권한을 해당 목적 외에는 사용하지 않습니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/Pretendard-Bold.ttf</string>
		<string>fonts/Pretendard-Medium.ttf</string>
		<string>fonts/Pretendard-Regular.ttf</string>
		<string>fonts/Pretendard-SemiBold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<!-- <string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string> -->
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
